table{
    border-collapse: collapse;
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 5rem;
}
td,th{
    padding:0.5rem
}
.icon{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.icon>img{
    width:5rem;
    height: 5rem;
    object-fit: cover;
}
#tbody1,#tbody2,#tbody3{
    display: none;
    width: 100%;
}
#showTable{
    background-color: black;
    color: white;
    padding: 1rem 4rem;
}